{
  "presets": [
    ["es2015"],
    ["env", {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread"],
    ["transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}